:root {
    --cor-primaria: #F2A49E;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre+Baskerville', serif;
}

/* //////////////////////header////////////// */

/* Bloco Header */
.header {
    background-color: #8B3A31;
    /* Tom marrom avermelhado da imagem */
    padding: 20px 0;
    color: #FFFFFF;
}

.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

/* Elemento Logo */
.header__logo {
    display: flex;
    flex-direction: column;
    align-items: end;
    line-height: 0.9;
    row-gap: 5px;
}

.header__logo-brand {
    font-size: 2.2rem;
    font-weight: 700;
}

.header__logo-sub {
    font-size: 1.1rem;
    letter-spacing: 1px;
}

/* Elemento Nav */
.header__nav-list {
    list-style: none;
    display: flex;
    gap: 60px;
    /* Espaçamento entre os itens */
}

.header__nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.header__nav-link:hover {
    color: var(--cor-primaria);
}

/* Elemento Botão com Modificador */
.button {
    cursor: pointer;
    border: none;
    font-family: inherit;
    transition: color 0.2s;
}

.button--reservation {
    background-color: #5D241E;
    /* Tom mais escuro do botão */
    color: #FFFFFF;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: color 0.3s
}

.button--reservation:hover {
    background-color: #4A1D18;
    color: var(--cor-primaria);
}

/* /////////////////////////////////end header//////////////////////// */

/* //////////////////////main//////////////////////// */
.main__section {
    background-image: url(./assets/home-image.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    max-width: 100%;
    height: 810px;
    margin: 0 auto;
    position: relative;
}

.main__section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Sombra escura para melhorar a legibilidade */
    z-index: 1;
    /* Coloca a sombra atrás do conteúdo */
}

/* Título da página home */
.main__content {
    position: relative;
    z-index: 2;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
    text-align: center;
    row-gap: 40px;
}

.main__h1,
.main__h2 {
    font-family: 'Crimson Pro', serif;
}

.main__h1 {
    font-size: 3rem;
}

.main__h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

/*////////////////////////modal///////////////////////// */

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* A caixa branca do formulário */
.modal-content {
    background-color: white;
    margin: 2% auto;
    padding: 20px;
    width: 30vw;
    border-radius: 8px;
    position: relative;
    font-family: serif;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: #54221e;
}

.form__button {
    width: 50%;
    align-self: center;
}

.logo--form {
    color: #8B3A31;
    text-align: center;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    /* Bordas arredondadas */
    outline: none;
    /* Remove a linha azul padrão do navegador */
    transition: 0.3s;
    /* Suaviza a mudança de cor */
}

/* Efeito quando o usuário clica no campo */
input:focus {
    border-color: var(--cor-primaria);
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

.form-group {
    display: flex;
    flex-direction: column;
    /* Coloca o label acima do input */
    margin-bottom: 15px;
}

/* Estilo para o stepper de quantidade de hóspedes */

.stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 45px;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    /* Cantos arredondados */
    padding: 0 10px;
}

.stepper button {
    background: none;
    border: none;
    color: var(--text-grey);
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
    transition: color 0.2s;
}

.stepper button:hover {
    color: var(--primary-color);
}

.stepper input {
    width: 40px;
    text-align: center;
    border: none;
    font-size: 18px;
    color: var(--text-grey);
    outline: none;
    background: transparent;
    appearance: textfield;
    /* Remove setas no Firefox */
}

/* Remove setas no Chrome, Safari e Edge */
.stepper input::-webkit-outer-spin-button,
.stepper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}