/* //////////////////// Reset Básico //////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre+Baskerville', serif;
}

/* //////////////////// Modal Form //////////////////// */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* A caixa branca do formulário */
.modal-content {
    background-color: white;
    margin: 2% auto;
    padding: 20px;
    width: 30vw;
    border-radius: 8px;
    position: relative;
    font-family: serif;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: #54221e;
}

.form__button {
    width: 50%;
    align-self: center;
}

.logo--form {
    color: #8B3A31;
    text-align: center;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    /* Bordas arredondadas */
    outline: none;
    /* Remove a linha azul padrão do navegador */
    transition: 0.3s;
    /* Suaviza a mudança de cor */
}

/* Efeito quando o usuário clica no campo */
input:focus {
    border-color: var(--cor-primaria);
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

.form-group {
    display: flex;
    flex-direction: column;
    /* Coloca o label acima do input */
    margin-bottom: 15px;
}

/* Estilo para o stepper de quantidade de hóspedes */

.stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 45px;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    /* Cantos arredondados */
    padding: 0 10px;
}

.stepper button {
    background: none;
    border: none;
    color: var(--text-grey);
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
    transition: color 0.2s;
}

.stepper button:hover {
    color: var(--primary-color);
}

.stepper input {
    width: 40px;
    text-align: center;
    border: none;
    font-size: 18px;
    color: var(--text-grey);
    outline: none;
    background: transparent;
    appearance: textfield;
    /* Remove setas no Firefox */
}

/* Remove setas no Chrome, Safari e Edge */
.stepper input::-webkit-outer-spin-button,
.stepper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* //////////////////// End Modal Form //////////////////// */

/* //////////////////// Header //////////////////// */
.header {
    background-color: #8B3A31;
    padding: 20px 0;
    color: #FFFFFF;
}

.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: end;
    line-height: 0.9;
    row-gap: 5px;
}

.header__logo-brand {
    font-size: 2.2rem;
    font-weight: 700;
}

.header__logo-sub {
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.header__nav-list {
    list-style: none;
    display: flex;
    gap: 60px;
}

.header__nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.header__nav-link:hover {
    color: #F2A49E;
}

.header__button {
    cursor: pointer;
    border: none;
    font-family: inherit;
    transition: transform 0.2s;
}

.header__button--reservation {
    background-color: #5D241E;
    color: #FFFFFF;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    position: relative;
    z-index: 2;
}

.header__button--reservation:hover {
    background-color: #4A1D18;
    transform: translateY(-2px);
}
/* //////////////////// End Header //////////////////// */

/* //////////////////// Main //////////////////// */
/* ////////// Home Page 1/4 ////////// */
#home1 {
    background-image: url(./assets/home-image.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    max-width: 100%;
    height: 818px;
    margin: 0 auto;
    position: relative;
}

#home1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sombra escura para melhorar a legibilidade */
    z-index: 1; /* Coloca a sombra atrás do conteúdo */
}

#home1--align {
    margin: 190px 0 0 0;
}

/* Título da página home */
.home1__h1 {
    position: relative;
    z-index: 2;
    max-width: 900px;
    width: 100%;
    margin: 120px auto 0 auto; /* Centraliza horizontalmente e adiciona espaço superior */
    text-align: center;
    color: white;
    font-family: 'Crimson Pro', serif;
    font-size: 36px;
}

/* Subtítulo da página home */
.home1__h2 {
    position: relative;
    z-index: 2;
    max-width: 550px;
    margin: 45px auto 25px auto; /* Centraliza horizontalmente e adiciona espaço superior */
    text-align: center;
    color: white;
    font-size: 28px;
}

/* Botão centralizado na home */
.home1__button--align {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: 70px;
}

.home1__button--enlarge {
    padding: 15px 30px;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}
/* ////////// End Home Page 1/4 ////////// */
/* ////////// Home Page 2/4 ////////// */
#home2 {
    width: 100%;
    height: 570px;
    background-color: #F1A49E;
}

.home2__title {
    color: #8C3933;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    padding: 50px 0;
}

.home2__figures {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.home2__img {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: auto;
    margin: 0 80px;

    background-color: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.home2__img:hover {
    transform: translateY(-8px);
}

.home2__img--image1, 
.home2__img--image2, 
.home2__img--image3 {
    height: 264px;
    width: 340px;
}

.home2__img--image1 {
    background-image: url(./assets/conforto-image.jpg);
    background-size: cover;
    background-position: -50px center;
}
.home2__img--image2 {
    background-image: url(./assets/localizacao-image.jpg);
    background-size: cover;
    background-position: center;
}
.home2__img--image3 {
    background-image: url(./assets/entretenimento-image.jpg);
    background-size: 250%;
    background-position: -240px center;
}

.home2__img p {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: #6A2E2A;
    font-size: 1.1rem;
}
/* ////////// End Home Page 2/4 ////////// */